# Visual Studio Code
.vscode/

# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.checkstyle

#Misc
*.properties
